<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controllers.Properties.Settings.DBSistemaSiempreBellaConnectionString"
            connectionString="Data Source=DESKTOP-N9895O2;Initial Catalog=DBSistemaSiempreBella;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>